{% extends "admin/base_site.html" %}
{% block title %}Push Notifications{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static "css/push_notification_manager.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.14.2/daterangepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.14.2/jquery.daterangepicker.min.js">
</script>
<script src="{% static "js/push_notification_manager.js" %}"></script>
<script></script>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div id="message">
        <h1>Push Notifications</h1>
        <textarea id="push-message" name="message" maxlength="235"></textarea>
        <span id="characters">
        </span>
        <label for="recipients">Message recipients</label><br>
        <input type="radio" name="recipients" value="all" checked> All<br>
        <button type="submit">Send</button>
    </div>
    <div class="results">
        <table id="result_list">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</form>
<!-- pagination -->
<div class="pagination">
    <span class="step-links">
        {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}&{{ parameters }}"><span class="fa fa-arrow-circle-left"></span></a>
        {% endif %}

        <span class="current">
            Page <strong>{{ photos.number }}</strong> of {{ photos.paginator.num_pages }}
        </span>

        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}&{{ parameters }}"><span class="fa fa-arrow-circle-right"></span></a>
        {% endif %}
    </span>
</div>
{% endblock %}