{% extends "admin/base_site.html" %}
{% block title %}Push Notifications{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.1/grids-min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.1/grids-responsive-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.14.2/daterangepicker.min.css">
<link rel="stylesheet" href="{% static "css/push_notification_manager.css" %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.14.2/jquery.daterangepicker.min.js">
</script>
<script src="{% static "js/push_notification_manager.js" %}"></script>
<script></script>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="pure-g">
        <div class="pure-u-1">
            <h1>Push Notifications</h1>
            <!--<label for="schedule">Schedule message</label>-->
            <!--<p>Leave blank to send message immediately</p>-->
            <!--<input id="schedule" type="text" name="schedule">-->
        </div>
        <div class="pure-u-1">
            <div id="message">
                <label for="message">Message</label>
                <p>235 max characters</p>
                <textarea id="push-message" name="message" maxlength="235"></textarea>
                <span id="characters"></span>
                <button id="send-button" type="submit" disabled="disabled">Send Push Notification</button>
            </div>
        </div>
        <div class="pure-u-1">
            <h2>Select specific message recipients</h2>
            <p>If you do not select recipients, message will be sent to ALL users</p>
            <div id="toolbar" class="initialized">
                <form id="device-search">
                    <input type="text" size="15" id="searchbar" placeholder="Search by user">
                    <input id="search-button" type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
            <div class="results">
                <table id="result_list">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
            <h3>Recipients</h3>
            <div id="recipient-container">
            </div>
        </div>
    </div>
</form>
{% endblock %}