{% extends "admin/base_site.html" %}
{% block title %}Photos{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/photos.css" %}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script>
$( document ).ready(function() {
    // Update photo feed for a photo
    $('input[type="checkbox"]').click(function() {
        var photoId = $(this).parent().attr('id').replace('photo-feeds-', ''),
            photoFeeds = [],
            csrfToken = $(this).parent().find('input[type="hidden"]').attr('value'),
            thisCheckboxFeedId = $(this).attr('class').replace('feed-', ''),
            thisCheckboxChecked = $(this).attr('checked');

        // Append all feeds that were already checked
        $(this).parent().children('input[checked]').each(function(index) {
            var id = $(this).attr('class').replace('feed-', '')

            // Append feeds already checked
            // Otherwise uncheck
            if (id !== thisCheckboxFeedId)
                photoFeeds.push(id);
            else
                $(this).removeAttr('checked');
        });

        // Append feed just checked if unchecked
        if (thisCheckboxChecked == undefined) {
            $(this).attr('checked', true);
            photoFeeds.push(thisCheckboxFeedId);
        }

        data = {
            photo_feed: photoFeeds
        }

        if(photoFeeds.length == 0)
            data.photo_feed = null;

        $.ajax({
            url: '/api/photos/' + photoId,
            method: 'patch',
            headers: { 'X-CSRFToken': csrfToken },
            data: data,
            dataType: 'json',
            traditional: true
        });
    });

    // Modal toggle (show)
    $('.modal-toggle').click(function(e) {
        e.preventDefault();
        var parent = $(this).parent();

        parent.siblings('.overlay').show();
        parent.siblings('.feeds-modal').show();
    });

    // Modal toggle (hide)
    $('.fa-window-close').click(function(e) {
        e.preventDefault();

        var parent = $(this).parent();
        parent.hide();
        parent.siblings('.overlay').hide();
    });

    // Modal toggle (overlay) (hide)
    $('.overlay').click(function() {
        $(this).hide();
        $(this).siblings('.feeds-modal').hide();
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row photo-mgmt">
        {% for photo in photos %}
        <div class="col-xs-3">
            <div class="img-wrapper">
                <a class="modal-toggle"
                   title="@{{ photo.user.username }} / IG: {{ photo.user.social_name }} | {{ photo.location }}">
                    <img src="{{ media_url }}{{ photo.image }}">
                </a>
            </div>
            <div class="overlay"></div>
            <div id="photo-feeds-{{ photo.id }}" class="feeds-modal">
                <span class="fa fa-window-close"></span>
                <strong>Feeds</strong><br>
                {% for feed in photo_feeds %}
                <label>{{ feed.name }}</label>
                {% if feed.name in photo.photo_feed_names %}
                <input class="feed-{{ feed.id }}" type="checkbox" value="{{ feed.id }}" checked>
                {% else %}
                <input class="feed-{{ feed.id }}" type="checkbox" value="{{ feed.id }}">
                {% endif %}
                {% endfor %}
                {% csrf_token %}
                <img src="{{ media_url }}{{ photo.image }}">
                <small>
                    <strong>Email:</strong> {{ photo.user.email }}<br>
                    <strong>Username:</strong> {{ photo.user.username }}<br>
                    <strong>Social name:</strong> {{ photo.user.social_name }}<br>
                    <strong>Location:</strong> {{ photo.location }}<br>
                </small>
                <a target="_blank" href="{{ media_url }}{{ photo.image }}">Download <span class="fa fa-external-link"></span></a>
                {% if photo.original_image_url %}
                <br><a target="_blank" href="{{ photo.original_image_url }}">Download Original <span class="fa fa-external-link"></span></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if photos.has_previous %}
                <a href="?page={{ photos.previous_page_number }}"><span class="fa fa-arrow-circle-left"></span></a>
            {% endif %}

            <span class="current">
                Page <strong>{{ photos.number }}</strong> of {{ photos.paginator.num_pages }}
            </span>

            {% if photos.has_next %}
                <a href="?page={{ photos.next_page_number }}"><span class="fa fa-arrow-circle-right"></span></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}