{% extends "admin/base_site.html" %}
{% block title %}Photo Map{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.1/grids-min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.1/grids-responsive-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://openlayers.org/en/v3.20.1/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="map-container" class="pure-g">
    <div id="map" class="map"></div>
</div>
<script type="text/javascript">
    createMarker = function(index, photo) {
        var iconFeature = new ol.Feature({
          geometry: new
            ol.geom.Point(ol.proj.transform([photo.longitude, photo.latitude], 'EPSG:4326', 'EPSG:3857'))
        });
        console.log(iconFeature);
        vectorSource.addFeature(iconFeature);
    }

    var updateImages = function(e) {
        var box = map.getView().calculateExtent(map.getSize());
        box = ol.proj.transformExtent(box, 'EPSG:3857', 'EPSG:4326');

        $.ajax({
            url: '/api/photos?geo_location=' + box[0] + ',' + box[1] + ',' + box[2] + ',' + box[3],
            method: 'get'
        })
        .done(function(data) {
            vectorSource.clear();
            $.each(data.results, createMarker);
        });
    }

    var vectorSource = new ol.source.Vector({
    });

    //create the style
    var iconStyle = new ol.style.Style({
      image: new ol.style.Icon(({
        anchor: [0.5, 1.0],
        anchorXUnits: 'fraction',
        anchorYUnits: 'fraction',
        opacity: 0.75,
        scale: 0.1,
        src: '/static/img/map-marker.png'
      }))
    });

    var vectorLayer = new ol.layer.Vector({
      source: vectorSource,
      style: iconStyle
    });

    var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          vectorLayer
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-116.2023436, 43.6169233]),
          zoom: 4
        })
      });

    map.on('moveend', updateImages);
    map.getView().on('change:resolution', updateImages);
</script>
{% endblock %}