{% extends "admin/base_site.html" %}
{% block title %}Photos{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/photos.css" %}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script>
$( document ).ready(function() {
    // Update photo feed for a photo
    $('input[type="checkbox"]').click(function() {
        var photoId = $(this).parent().attr('id').replace('photo-feeds-', ''),
            photoFeeds = [],
            csrfToken = $(this).parent().find('input[type="hidden"]').attr('value');

        $(this).parent().children('input[checked]').each(function(index) {
            photoFeeds.push($(this).attr('class').replace('feed-', ''));
        });

        // Append feed just checked
        photoFeeds.push($(this).attr('class').replace('feed-', ''));
        console.log(photoFeeds);

        $.ajax({
            url: '/api/photos/' + photoId,
            method: 'patch',
            headers: { 'X-CSRFToken': csrfToken },
            data: {
                photo_feed: photoFeeds
            },
            dataType: 'json',
            traditional: true
        });
    });
});
</script>
{% endblock %}

{% block content %}
<div class="row">
    {% for photo in photos %}
    <div class="col-xs-3">
        <small>
            <strong>Username:</strong> {{ photo.user.username }}<br>
            <strong>Social name:</strong> {{ photo.user.social_name }}<br>
            <strong>Location:</strong> {{ photo.location }}<br>
        </small>
        <div class="img-wrapper">
            <img class="img-responsive" src="{{ media_url }}{{ photo.image }}">
            <span class="feed fa fa-arrow-right">
                Feed
            </span>
        </div>
        <div id="photo-feeds-{{ photo.id }}" class="feeds-wrapper">
            {% for feed in photo_feeds %}
            {% if feed.name in photo.photo_feed_names %}
            <label>{{ feed.name }}</label>
            <input class="feed-{{ feed.id }}" type="checkbox" value="{{ feed.id }}" checked>
            {% else %}
            <label>{{ feed.name }}</label>
            <input class="feed-{{ feed.id }}" type="checkbox" value="{{ feed.id }}">
            {% endif %}
            {% endfor %}
            {% csrf_token %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}