{% extends "admin/base_site.html" %}
{% block title %}Photos{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.1/grids-min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.1/grids-responsive-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.14.2/daterangepicker.min.css">
<link rel="stylesheet" href="{% static "css/photos.css" %}">
<link rel="stylesheet" href="{% static "css/change_list.css" %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.14.2/jquery.daterangepicker.min.js">
</script>
<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/change_list.js" %}"></script>

<script>
$( document ).ready(function() {
    // Open modal
    if (window.location.hash){
        var hash = window.location.hash.substring(1);

        if (hash == 'details'){
            var toggleParent = $('.modal-toggle').parent();

            toggleParent.siblings('.overlay').show();
            toggleParent.siblings('.feeds-modal').show();
        }
    }

    // Date picker setup
    $('#datesearchbar').dateRangePicker({
        separator: ' - '
    });

    // Update photo feed for a photo
    $('input[type="checkbox"]').click(function() {
        var photoId = $(this).parent().attr('data-photo-id'),
            photoFeeds = [],
            csrfToken = $(this).parent().find('input[type="hidden"]').attr('value'),
            thisCheckboxFeedId = $(this).attr('data-feed-id'),
            thisCheckboxChecked = $(this).attr('checked');
            thisMagazineAuthorization = $(this)[0].checked;
        if(photoId === undefined) {
            photoId = $('[id="photo-info"]').attr('data-photo-id');
        }

        // Append all feeds that were already checked
        $(this).parent().children('input[checked]').each(function(index) {
            var id = $(this).attr('class');
            if (id !== undefined) {
                id = id.replace('feed-', '');
            }

            // Append feeds already checked
            // Otherwise uncheck
            if (id !== thisCheckboxFeedId)
                photoFeeds.push(id);
            else
                $(this).removeAttr('checked');
        });

        // Append feed just checked if unchecked
        if (thisCheckboxChecked === undefined) {
            $(this).attr('checked', true);
            photoFeeds.push(thisCheckboxFeedId);
        }

        data = {
            photo_feed: photoFeeds,
            magazine_authorized: thisMagazineAuthorization
        };

        if(photoFeeds.length == 0)
            data.photo_feed = null;

        $.ajax({
            url: '/api/photos/' + photoId,
            method: 'patch',
            headers: { 'X-CSRFToken': csrfToken },
            data: data,
            dataType: 'json',
            traditional: true
        });
    });

    // Modal toggle (show)
    $('.modal-toggle').click(function(e) {
        e.preventDefault();
        var parent = $(this).parent();

        parent.siblings('.overlay').show();
        parent.siblings('.feeds-modal').show();
    });

    // Modal toggle (hide)
    $('.fa-window-close').click(function(e) {
        e.preventDefault();

        var parent = $(this).parent();
        parent.hide();
        parent.siblings('.overlay').hide();
    });

    // Modal toggle (overlay) (hide)
    $('.overlay').click(function() {
        $(this).hide();
        $(this).siblings('.feeds-modal').hide();
    });
});
</script>
{% endblock %}

{% block content %}
<div id="toolbar" class="initialized">
    <form id="photo-mgmt-search" method="get">
        <input type="text" size="15" name="q" value="" id="searchbar" placeholder="Location|tags">
        <input type="text" size="8" name="u" value="" id="usearchbar" autofocus="" placeholder="Age|user">
        <input type="text" size="8" name="g" value="" id="gsearchbar" placeholder="Gear">
        <input type="text" size="10" name="date" value="" id="datesearchbar" placeholder="Date">
        <select class="photo-mgmt-select" tabindex="-1" aria-hidden="true" onchange="javascript:location.search = this.value;">
            <option value="?" selected="selected">By category</option>
            <option disabled="disabled">---</option>
            {% for category in categories %}
                <option value="?category={{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <select class="photo-mgmt-select" tabindex="-1" aria-hidden="true" onchange="javascript:location.search = this.value;">
            <option value="?" selected="selected">By feed</option>
            <option disabled="disabled">---</option>
            {% for feed in photo_feeds %}
                <option value="?feed={{ feed.name }}">{{ feed.name }}</option>
            {% endfor %}
        </select>
        <select class="photo-mgmt-select" tabindex="-1" aria-hidden="true" onchange="javascript:location.search = this.value;">
            <option value="?" selected="selected">By magazine</option>
            <option disabled="disabled">---</option>
            <option value="?magazine=True">Yes</option>
            <option value="?magazine=False">No</option>
        </select>
        <input type="submit" value="Search">
    </form>
</div>
<div class="pure-g photo-mgmt">
    {% for photo in photos %}
        <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-6">
            <div class="img-wrapper">
                <a class="modal-toggle"
                   title="{{ photo.user.username }} / IG: {{ photo.user.social_name }} | {{ photo.location }}">
                    <img src="{{ media_url }}{{ photo.image_small }}">
                </a>
            </div>
            <div class="overlay"></div>
            <div id="photo-feeds-{{ photo.id }}" class="feeds-modal">
                <span class="fa fa-window-close"></span>
                <div class="pure-g">
                    <div data-photo-id="{{ photo.id }}" class="pure-u-1 pure-u-md-2-5">
                        {% if perms.photo.manage_photofeed %}
                            <h2>Feeds</h2>
                            {% for feed in photo_feeds %}
                                <label>{{ feed.name }}</label>
                                {% if feed.name in photo.photo_feed_names %}
                                    <input data-feed-id="{{ feed.id }}" class="feed-{{ feed.id }}" type="checkbox" value="{{ feed.id }}" checked><br>
                                {% else %}
                                    <input data-feed-id="{{ feed.id }}" class="feed-{{ feed.id }}" type="checkbox" value="{{ feed.id }}"><br>
                                {% endif %}
                            {% endfor %}
                            {% csrf_token %}
                        {% endif %}
                        <div id="photo-info" class="info" data-photo-id="{{ photo.id }}">
                            <h2>Photo info</h2>
                            <p>
                                {% load admin_urls %}
                                <strong>Photo ID:</strong> <a target="_blank" href="/admin/photo/photo/{{ photo.id }}/change/"> {{ photo.id }}</a><br>
                                {% if photo.starred %}
                                    <span data-content-type="photos" data-id="{{ photo.id }}" class="star-button starred fa fa-star"></span>
                                {% else %}
                                    <span data-content-type="photos" data-id="{{ photo.id }}" class="star-button fa fa-star"></span>
                                {% endif %}
                                <br>
                                <strong>Email:</strong> {{ photo.user.email }}<br>
                                <strong>Username:</strong> {{ photo.user.username }}<br>
                                <strong>Social name:</strong> {{ photo.user.social_name }}<br>
                                <strong>User age:</strong> {{ photo.user.age }}<br>
                                <strong>Photo location:</strong> {{ photo.location }}<br>
                                <strong>Uploaded:</strong> {{ photo.created_at }}<br>
                                <strong>AOV magazine authorization:</strong>
                                {% if photo.magazine_authorized %}
                                    <input name="authorized" type="checkbox" value="{{ photo.magazine_authorized }}" checked>
                                {% else %}
                                    <input name="authorized" value="{{ photo.magazine_authorized }}" type="checkbox">
                                {% endif %}
                                {% csrf_token %}
                            </p>
                        </div>
                        <p>
                            <a target="_blank" href="{{ media_url }}{{ photo.image }}">Download <span class="fa fa-external-link"></span></a>
                            {% if photo.original_image_url %}
                                <br><a target="_blank" href="{{ photo.original_image_url }}">Download Original <span class="fa fa-external-link"></span></a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="pure-u-1 pure-u-md-3-5">
                        <img src="{{ media_url }}{{ photo.image_medium }}">
                    </div>
                    <div class="pure-u-1">
                        {% for tag in photo.photo_tag_names %}
                        <span class="tag">{{ tag }}</span>
                        {% empty %}
                        <span>No tags...</span>
                        {% endfor %}
                    </div>
                    <div class="pure-u-1" style="margin-top: 10px;">
                    {% if photo.caption %}
                        <a target="_blank" href="/admin/photo/photo/{{ photo.id }}/change/#/tab/module_2/">Caption </a><span class="fa fa-sticky-note-o"></span><br>
                        <div class="caption">
                            <span>{{ photo.caption }}</span>
                        </div>
                    {% endif %}
                    {% if not photo.caption %}
                        <a target="_blank" href="/admin/photo/photo/{{ photo.id }}/change/#/tab/module_2/">Add a Caption </a><span class="fa fa-sticky-note-o"></span><br>
                    {% endif %}
                    </div>
                </div>
            </div><!-- .feeds-modal -->
        </div>
    {% endfor %}
</div>
<!-- pagination -->
<div class="pagination">
    <span class="step-links">
        {% if photos.has_previous %}
            <a href="?{{ parameters }}"><span class="fa fa-angle-double-left"></span></a>
            {% if photos.number >= 10 %}
                <a href="?page={{ photos.number|add:'-10' }}&{{ parameters }}"><span class="fa fa-angle-left"></span></a>
            {% endif %}
            <a href="?page={{ photos.previous_page_number }}&{{ parameters }}"><span class="fa fa-arrow-circle-left"></span></a>
        {% endif %}

        <span class="current">
            Page <strong>{{ photos.number }}</strong> of {{ photos.paginator.num_pages }}
        </span>

        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}&{{ parameters }}"><span class="fa fa-arrow-circle-right"></span></a>
            {% if photos.paginator.num_pages >= 10 %}
                <a href="?page={{ photos.number|add:'10' }}&{{ parameters }}"><span class="fa fa-angle-right"></span></a>
            {% endif %}
            <a href="?page={{ photos.paginator.num_pages }}&{{ parameters }}"><span class="fa fa-angle-double-right"></span></a>
        {% endif %}
    </span>
</div>
{% endblock %}