{% extends "admin/base_site.html" %}
{% block title %}Power Users{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.1/grids-min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.1/grids-responsive-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.14.2/daterangepicker.min.css">
<link rel="stylesheet" href="{% static "css/power_users.css" %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{% static "js/common.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.14.2/jquery.daterangepicker.min.js"></script>

<script>
$( document ).ready(function() {
    $('#datesearchbar').dateRangePicker({
        separator: ' - '
    });
});
</script>
{% endblock %}

{% block content %}
<div class="initialized" id="toolbar">
    <form id="date-picker" method="get">
        <input type="text" name="date" id="datesearchbar" placeholder="Date" value="">
        <input type="submit" value="Search">
    </form>
</div>

<div class="pure-g">
    <div class="pure-u-1">
        <h2>Power Users ({{ users_count }})</h2>
    </div>
    <div class="pure-u-1">
        <table class="pure-table" align="center" width="100%">
            <thead>
                <tr>
                    <th width="60%">User</th>
                    <th width="5%">Photos</th>
                    <th width="5%">Votes</th>
                    <th width="5%">Comments</th>
                    <th width="5%">Actions</th>
                    <th width="10%">Age</th>
                    <th width="15%">Last Login</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th>{{ user.username }} - {{ user.email }}</th>
                    <th>{{ user.photo__count }}</th>
                    <th>{{ user.photovote__count }}</th>
                    <th>{{ user.photocomment__count }}</th>
                    <th>{{ user.total_actions }}</th>
                    <th>{{ user.age }}</th>
                    <th>{{ user.last_session | date:"D, d M, Y" }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?{{ parameters }}"><span class="fa fa-angle-double-left"></span></a>
            <a href="?page={{ users.previous_page_number }}&{{ parameters }}"><span class="fa fa-arrow-circle-left"></span></a>
        {% endif %}

        <span class="current">
            Page <strong>{{ users.number }}</strong> of {{ users.paginator.num_pages }}
        </span>

        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}&{{ parameters }}"><span class="fa fa-arrow-circle-right"></span></a>
            <a href="?page={{ users.paginator.num_pages }}&{{ parameters }}"><span class="fa fa-angle-double-right"></span></a>
        {% endif %}
    </span>
</div>
{% endblock %}