.action + .action {
    margin-left: 5px;
}

a.action {
    cursor: pointer;
}

.eye-button {
    color: #0fc30f;
    cursor: pointer;
}

.star-button {
    color: #999;
    cursor: pointer;
}

.eye-button.removed {
    color: #999;
}

.star-button.starred {
    color: #f5dd5d;
}