/* Page */

#photo-mgmt-search input {
    margin-bottom: 0.35714rem;
}

.photo-mgmt > [class*=pure-u] {
    box-sizing: border-box;
    padding: 5px;
}

/* Img Container */

.img-wrapper {
    position: relative;
    width: 100%;
}

.img-wrapper .modal-toggle {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img-wrapper img {
    width: 100%;
    height: 140px;
}

@media screen and (max-width: 567px) {
    .img-wrapper img {
        height: auto;
    }
}

.pagination {
    display: block;
    margin: 10px auto;
    width: 50%;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.pagination .fa {
    width: 25px;
    margin: 0 5px;
    font-size: 20px;
}

/* Modal */

input[type="checkbox"] + label {
    margin-left: 10px;
}

input[type="checkbox"] {
    margin: 0;
}

.feeds-modal {
    display: none;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    width: 75%;
    max-height: 100%;
    right: 12.5%;
    left: 12.55%;
    top: 20px;
    bottom: 20px;
    padding: 20px;
    overflow-y: scroll;
    z-index: 5001;
}

.feeds-modal .fa-window-close {
    color: red;
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    right: 0px;
    top: 0px;
    font-size: 30px;
    line-height: 35px;
    cursor: pointer;
    z-index: 5002;
}

.feeds-modal img {
    width: 100%;
}

.feeds-modal .tag {
    background-color: #47bac1;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.feeds-modal .tag + .feeds-modal .tag {
    margin-left: 5px;
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 4000;
}