#message {
    margin-bottom: 20px;
}

#message #push-message {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    resize: none;
}

#message #characters {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: right;
}